In [ ]:
import re
import requests
from bs4 import BeautifulSoup as Soup
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from urllib.request import urlopen
%matplotlib inline

In [27]:
temporadas=['240025','230054','220069','210064','200061','190075','180084','170099']

In [28]:
from urllib.request import urlopen, Request
filas_de_datos = []
for a in temporadas:
    url = "https://sofifa.com/teams?type=club&na%5B0%5D=45&lg%5B0%5D=53&r="+f"{a}"+"&set=true&showCol%5B%5D=oa&showCol%5B%5D=at&showCol%5B%5D=md&showCol%5B%5D=df&showCol%5B%5D=cw&showCol%5B%5D=ps"
    # Agregar un User-Agent en la solicitud
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'}
    request = Request(url, headers=headers)

    # Realizar la solicitud con el User-Agent
    response = urlopen(request)

    # Leer el contenido de la página
    data = response.read()

    soup = Soup(data, 'html.parser')
    tabla = soup.find('table')
    encabezados = [header.text.strip() for header in tabla.find_all('th')]


    for fila in tabla.find_all('tr')[1:]: 
        datos_fila = [dato.text.strip() for dato in fila.find_all('td')]
        filas_de_datos.append(datos_fila)


df = pd.DataFrame(filas_de_datos, columns=encabezados)

In [38]:
df['Name'] = df['Name'].replace({
    'Real Madrid La Liga':'ID002',
    'FC Barcelona La Liga':'ID005',
    'Atlético Madrid La Liga':'ID003', 
    'Real Sociedad La Liga':'ID006',
    'Athletic Club La Liga':'ID004', 
    'Real Betis La Liga':'ID007', 
    'Sevilla La Liga':'ID016',
    'Villarreal La Liga':'ID014', 
    'Girona La Liga':'ID001', 
    'Getafe La Liga':'ID010',
    'Celta de Vigo La Liga':'',
    'Mallorca La Liga':'ID017', 
    'Osasuna La Liga':'ID012',
    'Rayo Vallecano La Liga':'ID013', 
    'Almería La Liga':'ID020',
    'Cádiz La Liga':'ID018',
    'Valencia La Liga':'ID008',
    'Las Palmas La Liga':'ID009',
    'Granada La Liga':'ID019',
    'Deportivo Alavés La Liga':'ID011',
    'Espanyol La Liga':'ID021',
    'Real Valladolid La Liga':'ID022',
    'Elche La Liga':'ID023',
    'Levante La Liga':'ID024',
    'SD Eibar La Liga':'ID025',
    'Huesca La Liga':'ID026',
    'Leganés La Liga':'ID027',
    'Deportivo La Coruña La Liga':'ID028',
    'Málaga La Liga':'ID029',
    'Sporting Gijón La Liga':'ID030'    
})

In [35]:
df["Name"].unique()

array(['Real Madrid La Liga', 'FC Barcelona La Liga',
       'Atlético Madrid La Liga', 'Real Sociedad La Liga',
       'Athletic Club La Liga', 'Real Betis La Liga', 'Sevilla La Liga',
       'Villarreal La Liga', 'Girona La Liga', 'Getafe La Liga',
       'Celta de Vigo La Liga', 'Mallorca La Liga', 'Osasuna La Liga',
       'Rayo Vallecano La Liga', 'Almería La Liga', 'Cádiz La Liga',
       'Valencia La Liga', 'Las Palmas La Liga', 'Granada La Liga',
       'Deportivo Alavés La Liga', 'Espanyol La Liga',
       'Real Valladolid La Liga', 'Elche La Liga', 'Levante La Liga',
       'SD Eibar La Liga', 'Huesca La Liga', 'Leganés La Liga',
       'Deportivo La Coruña La Liga', 'Málaga La Liga',
       'Sporting Gijón La Liga'], dtype=object)

In [39]:
df.iloc[:20,:]

       Name Overall Attack Midfield Defence Club worth Players
0     ID002      85     85       86      83      €4.8B      33
1     ID005      84     84       84      84      €4.3B      33
2     ID003      83     84       83      81      €1.2B      33
3     ID006      80     79       82      80      €150M      33
4     ID004      79     78       80      78      €250M      30
5     ID007      79     76       80      76      €175M      33
6     ID016      79     80       77      80      €540M      33
7     ID014      78     80       78      78      €370M      27
8     ID001      78     78       79      78        €8M      31
9     ID010      76     75       76      76       €45M      28
10               76     79       76      74      €110M      33
11    ID017      76     77       76      75        €8M      28
12    ID012      76     77       76      77       €15M      30
13    ID013      76     75       77      77       €10M      28
14    ID020      75     75       75      73       €47M      30
15    ID018      75     74       76      74        €5M      33
16    ID008      75     73       74      75      €530M      33
17    ID009      74     75       74      74       €45M      30
18    ID019      74     76       73      73       €50M      33
19    ID011      73     73       74      72       €13M      30

'https://sofifa.com/teams?type=club&na%5B0%5D=45&lg%5B0%5D=53&r=240025&set=true&showCol%5B0%5D=oa&showCol%5B1%5D=at&showCol%5B2%5D=md&showCol%5B3%5D=df&showCol%5B4%5D=cw&showCol%5B5%5D=ps&showCol%5B6%5D=sa'